body{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(32, 1fr); 
    background-color: #8C9A9E;
    color: black; 
    font-family: 'Roboto', sans-serif;
}

header{
    grid-column-start: 4; 
    grid-column-end: 14;
    grid-row-start: 9;
    grid-row-end: 9;
    background-color: #DDFCAD;
    border-top-right-radius: 10px;
    border-bottom: solid #C8E087;
}

nav{
    grid-column-start: 3;
    grid-column-end: 4; 
    grid-row-start: 9;
    grid-row-end: 25; 
    background-color: #C8E087;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.variables{
    grid-column-start: 4; 
    grid-column-end: 10; 
    grid-row-start: 10; 
    grid-row-end: 25;
    background-color: #DDFCAD;
    text-align: center;
    min-width: 420px;
}

.results{
    grid-column-start: 10; 
    grid-column-end: 14; 
    grid-row-start: 10; 
    grid-row-end: 25; 
    background-color: #C8E087;
    border-bottom-right-radius: 10px;
    text-align: center;
    min-width: 420px;

}

.name{
    display: inline-block;
    float: right;
    margin-right: 20px;
}

#heading{
    display: inline-block;
    margin-left: 20px;
}

.fats{
    display: inline-block;
    margin-right: 10px;
}

.carbs{
    display: inline-block;
    margin-right: 10px;
}

.proteins{
    display: inline-block;
    margin-right: 10px;
}

#calc{
    margin-top: 40px;
}

#calcs{
    margin-top: 30px;
}

#calcButton:hover{
    cursor: pointer;
}

#calcButton{
    background-color: #C8E087; /* Green */
    border-radius: 10px;
    width: 275px;
}

.buttons{
    justify-content: center;
    display: flex;
}